html {
  font-family: "Dosis", sans-serif;
}

h1 {
  margin: 0;
}

.btn {
  background-color: darkblue;
  border-color: white;
}

.btn:hover {
  background-color: steelblue;
  border-color: white;
}

.button-width {
  min-width: 10rem;
}

header {
  background-color: darkblue;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: steelblue;
}

.banner-text {
  color: white;
}

.white-text {
  color: white;
}

.masthead {
  background-color: darkblue;
  color: white;
}

.bot-nav {
  background-color: darkblue;
}

.copyright {
  background-color: #484848;
  color: white;
}

.dark-text {
  color: darkblue;
}

p {
  color: darkblue;
}

.darkbox {
  background-color: silver;
}
